# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Database
*.db

# Watcher temp data
backend/watched_data/

# Datos de usuario importados
backend/data/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Claude
.claude/
